.Omain { width:700px; margin-right:10px; display:inline; float:left; overflow:hidden;zoom:1}
.Osider { width:270px; float:left}
.Omain690 { width:690px; margin-right:10px; display:inline; float:left; overflow:hidden;zoom:1}
.Osider280 { width:280px; float:left}
.Osider01,.Osider02 { float:left; width:340px;}
.Osider01 {padding-right:9px; border-right:#e2e2e2 solid 1px; margin-right:10px; display:inline;}
.article {}
.article ul {}
.article ul li {background:url(/images/dashline.gif) repeat-x bottom; margin-bottom:9px;padding-bottom:10px; font-size:16px; line-height:30px}
.article ul p {font-size:12px; line-height:18px;}
.article .end {background-image:none; margin-bottom:0;padding-bottom:0}
.Otit01,.Otit02,.nums01,.nums02,.nums03,.nums04,.nums05,.nums06,.nums07,.nums08,.nums09,.nums10,.nav,.comment,.combtn_out,.combtn_on 
.Otit01 { background-repeat:no-repeat; background-position:left 0; height:30px; line-height:30px;padding:0 10px; color:#fff}


.Onewspic { overflow:hidden; zoom:1}
.Onewspic img { float:left; border:#e2e2e2 solid 1px; padding:4px; margin-right:10px; display:inline}
.Onewspic p { line-height:18px}
.Onewspic h1 {font-size:14px; line-height:24px; margin:0; padding:0}

.nums01,.nums02,.nums03,.nums04,.nums05,.nums06,.nums07,.nums08,.nums09,.nums10 {padding-left:20px}
.nums01 {background-repeat:no-repeat;background-position:left -64px;}
.nums02 {background-repeat:no-repeat;background-position:left -84px;}
.nums03 {background-repeat:no-repeat;background-position:left -106px;}
.nums04 {background-repeat:no-repeat;background-position:left -130px;}
.nums05 {background-repeat:no-repeat;background-position:left -151px;}
.nums06 {background-repeat:no-repeat;background-position:left -172px;}
.nums07 {background-repeat:no-repeat;background-position:left -194px;}
.nums08 {background-repeat:no-repeat;background-position:left -216px;}
.nums09 {background-repeat:no-repeat;background-position:left -239px;}
.nums10 {background-repeat:no-repeat;background-position:left -262px;}

.stocks {margin:5px auto}
.stocks span input { width:160px;height:18px;margin-right:10px;}

.Orilist {padding:0 5px 10px; overflow:hidden; zoom:1}
.Orilist p { text-indent:2em}
.Orilist ul {}
.Orilist ul li { line-height:24px;background-repeat:no-repeat;background-position:-540px -784px;padding-left:15px}
.Orilist span { line-height:24px; overflow:hidden; zoom:1}
.Orilist span a {width:64px;display:inline-block; float:left;background-repeat:no-repeat;background-position:-535px -785px;padding-left:20px}

.nav {line-height:30px; height:30px; background-repeat:repeat-x; background-position:0 -300px;padding:0 10px 0 25px}

.artlist {margin:10px}
.artlist ul {}
.artlist ul li {background:url(../images/dashline.gif) repeat-x top; margin-top:2px;padding:5px;line-height:24px;text-align: left;}
.artlist h2 {font-size:16px; line-height:30px}
.artlist ul p {font-size:12px; line-height:18px;}
.keywords a {margin-right:10px; text-decoration:underline}
.artlist .graybg {background:#f4f4f4 url(/images/dashline.gif) repeat-x top;}


.comment { background-repeat:no-repeat; background-position:-686px -66px; line-height:24px; height:24px;padding-left:18px;margin-right:5px}

.cominfo { border-bottom:#e2e2e2 solid 1px;border-top:#e2e2e2 solid 1px;height:38px;padding:0 0 0 10px; overflow:hidden; zoom:1; position:relative}
.cominfo b {line-height:38px; height:38px;font-size:14px;}
.combtn_out,.combtn_on { height:30px; width:100px;border:0 none;line-height:30px;text-align:left;padding-left:8px;cursor:pointer;font-weight:bold;color:#fff; font-size:14px; vertical-align:middle}
.combtn_out { background-repeat:no-repeat; background-position:0 -330px;}
.combtn_on { background-repeat:no-repeat; background-position:0 -360px;}

.detailinfo {}

.list02 ul li img { width:50px; height:36px; vertical-align:middle}

.wlinfo { background:url(/pics/wlpic.png) no-repeat; width:668px; height:74px; text-align:center; line-height:26px; vertical-align:middle; display:table-cell} 
.wlinfo .gray {padding:0 60px; text-align:left; line-height:18px; margin:0; font-size:12px}

.quolist { overflow:hidden; zoom:1}
.quolist ul {}
.quolist ul li {width:334px;float:left; border-bottom:#e2e2e2 dashed 1px; text-align:center}
.quolist ul li p { line-height:24px; text-align:left; text-indent:0;padding:0 10px}
.quolist ul li p span a {margin-left:10px; color:#049; font-size:12px; text-decoration:underline}
.quolist ul li img {text-align:center;margin:0 auto 10px}

.TabEmail { font-size:14px; line-height:42px; border-left:#c9c9c9 solid 1px; border-top:#c9c9c9 solid 1px;}
.TabEmail td {line-height:42px; border-right:#c9c9c9 solid 1px; border-bottom:#c9c9c9 solid 1px;padding:0 5px;font-size:14px;}
.TabEmail .bluebg { background-color:#eef3f9}
.TabEmail .bluebg02 {background-color:#d1e2ed}
.TabEmail span input { height:22px; line-height:22px; vertical-align:middle; color:#333; font-size:14px;padding:0 3px}
.TabEmail a { font-size:12px; text-decoration:underline}

.pics {width:270px;height:200px;overflow:hidden;position:relative;}
.slider,.num{position:absolute;}
.slider li{list-style:none;display:inline;}
.slider img{width:270px; height:200px;display:block;}
.num{right:5px; bottom:5px;}
.num li{float: left;color: #c60000;text-align: center;line-height: 16px;width: 16px;height: 16px;font-family: Arial;font-size: 12px;cursor: pointer;overflow: hidden;margin: 3px 1px;border: 1px solid #c60000;	background-color: #fff;
}
.num li.on{
	color: #fff;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-size: 14px;
	margin: 3px 1px;
	border: 1px solid #c60000;
	background-color: #c60000;
	font-weight: bold;
}